        *.iml
        .gradle
        /local.properties
        /.idea/workspace.xml
        /.idea/tasks.xml
        /.idea/caches
        .DS_Store
        /build
        /outputs
        /captures
        .externalNativeBuild
        *.apk



